form {
  label {
    text-rendering: optimizeSpeed;
    line-height: 1.6;
    font-size: 18px;
    color: var(--color1);
  }

  .form-group {
    margin-bottom: 10px;
  }

  input {
    text-rendering: optimizeSpeed;
    line-height: 1.6;
    font-size: 16px;
    color: var(--color1);
    font-weight: 300;
    margin-top: 5px;
    width: 100%;
    border: 1px solid var(--color1);
    border-radius: 5px;
    padding: 5px 10px;

    &::placeholder {
      font-family: "Quicksand", sans-serif;
      text-rendering: optimizeSpeed;
      line-height: 1.6;
      font-size: 16px;
      font-weight: 400;
    }
  }

  textarea {
    text-rendering: optimizeSpeed;
    line-height: 1.6;
    font-size: 16px;
    padding: 5px 10px;
    color: var(--color1);
    width: 100%;
    border: 1px solid var(--color1);
    border-radius: 5px;

    &::placeholder {
      font-family: "Quicksand", sans-serif;
      text-rendering: optimizeSpeed;
      line-height: 1.6;
      font-size: 16px;
      font-weight: 400;
    }
  }

  button {
    cursor: pointer;
    padding: 10px 20px;
    border: 1px solid var(--color1);
    border-radius: 5px;
  }
}
