footer {
  z-index: 888;
  background-color: var(--color2);

  width: 100%;
  text-align: center;
  border-top: 1px solid var(--color1);
  max-width: 800px;
  margin-inline: auto;

  .footer {
    padding: 12px 20px;
    display: flex;

    align-items: center;
    justify-content: center;
    @media (max-width: 610px) {
      justify-content: center;
      flex-direction: column;
      gap: 20px;
    }

    .social {
      gap: 40px;
      display: flex;
      a {
        font-size: 20px;
        color: var(--color1) !important;
      }
    }
  }
}
