footer {
  z-index: 888;
  background-color: var(--color2);
  padding: 20px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  right: 0;
}
footer .footer {
  padding-inline: 1.5rem;
  max-width: 400px;
  margin-inline: auto;
  text-align: center;
  display: grid;
  gap: 42px;
  grid-template-columns: repeat(4, 1fr);
  place-items: center;
}
footer .footer a {
  color: var(--color1) !important;
}
