footer{
    position: relative;
    // margin-top: 22vh;
   .footer{

    text-align: center;  
    .copyright {
        margin-top: 20px;
        margin-bottom: 40px;
        h4{
            font-weight: 400;
        }
    }
    .follow-me {
        a {
            font-size: 20px;
            margin-right: 20px;
            text-decoration: none;
            color: #000
        }
    }
   }
}

