footer {
  z-index: 888;
  background-color: var(--color2);
  padding: 20px 0;
  width: 100%;
}
footer .footer {
  padding-inline: 1.5rem;
  max-width: 400px;
  margin-inline: auto;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  text-align: center;
}
footer .footer a {
  font-size: 30px;
  color: var(--color1) !important;
}
