.projects {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
@media (max-width: 768px) {
  .projects {
    grid-template-columns: auto;
  }
}
.projects .project {
  border: 1px solid var(--color1);
  padding: 10px;
  border-radius: 5px;
}
.projects .project img {
  object-fit: cover;
  height: 200px;
  border-radius: 5px;
}
.projects .project .details .p-title {
  font-size: 20px;
  padding: 10px 0;
}
.projects .project .details .description {
  font-size: 14px;
}
.projects .project .details .tech-stack {
  padding: 10px 0;
  display: flex;
  list-style: none;
  gap: 10px;
}
.projects .project .details .tech-stack li {
  font-size: 10px;
  padding: 5px;
  border: 0.5px solid var(--color1);
}
.projects .project .details .p-link {
  font-size: 14px;
  text-decoration: none;
}
