#uses {
  .container {
    padding-top: 100px;
    padding-bottom: 100px;
    .uses-heading {
      font-size: 48px;
      line-height: 50px;
      color: var(--color1);
      text-transform: capitalize;
      margin-bottom: 20px;
    }
    h2 {
      font-size: 24px;
      line-height: 32px;
      color: var(--color1);
      text-transform: capitalize;
      margin-bottom: 20px;
    }
    p {
      text-rendering: optimizeSpeed;
      line-height: 1.6;
      font-size: 18px;
      color: var(color2);
      margin-bottom: 20px;
      font-weight: 300;
    }
    hr {
      margin: 20px 0;
    }

    .hardware {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      @media (max-width: 768px) {
        grid-template-columns: auto;
      }
      gap: 20px;
      .product {
        border: 1px solid var(--color1);
        .detail {
          padding: 10px;
          p {
            margin: 0;
          }
          h3 {
            font-size: 18px;
            line-height: 32px;
            color: var(--color1);
          }
        }
      }
    }

    .softwares {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
      @media (max-width: 768px) {
        grid-template-columns: auto;
      }
      .software {
        border: 1px solid var(--color1);
        .detail {
          padding: 10px;
          p {
            margin: 0;
          }
          h3 {
            font-size: 18px;
            line-height: 32px;
            color: var(--color1);
          }
        }
      }
    }
  }
}
