#work .container {
  padding-top: 100px;
  padding-bottom: 100px;
}
#work .container .work-heading {
  font-size: 48px;
  line-height: 50px;
  color: var(--color1);
  text-transform: capitalize;
  margin-bottom: 20px;
}
#work .container .projects {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
@media (max-width: 768px) {
  #work .container .projects {
    grid-template-columns: auto;
  }
}
#work .container .projects .project {
  border: 1px solid var(--color1);
  padding: 10px;
  border-radius: 5px;
}
#work .container .projects .project img {
  object-fit: cover;
  max-width: 100%;
  border-radius: 5px;
}
#work .container .projects .project .details .p-title {
  font-size: 20px;
  padding: 10px 0;
}
#work .container .projects .project .details .description {
  font-size: 14px;
}
#work .container .projects .project .details .tech-stack {
  padding: 10px 0;
  display: flex;
  list-style: none;
  gap: 10px;
}
#work .container .projects .project .details .tech-stack li {
  font-size: 10px;
  padding: 5px;
  border: 0.5px solid var(--color1);
}
#work .container .projects .project .details .p-link {
  font-size: 14px;
  text-decoration: none;
}
