* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: var(--color2);
  color: var(--color1);
  font-display:swap;
}

:root {
  --color1: #F2F2F2;
  --color2: #08070B;
}

::-webkit-scrollbar {
  display: none;
}


.container{
  padding-inline: 1.5rem;
  max-width: 800px;
  margin-inline: auto;
  padding-block: 180px 180px;

}

#error{
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 24px;
  text-align: center;
}


#error h1{
color: var(--color1);
font-size: 3rem;
line-height: 1.1;
}
#error  h2 {
  line-height: 1.6;
  font-size: 1.6rem;
  color: var(--color1);
  margin: 10px 0;
}

#error p {
  line-height: 1.6;
  font-size: 1.2rem;
  color: var(--color1);
}



@media (max-width:768px) {
.container{
  padding: 1.5rem;
}
}

@keyframes slideIn {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.slide-in {
  animation: slideIn 1s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 1s ease-in-out forwards; /* Adjust duration and timing as needed */
}
