#resume .container {
  padding-top: 100px;
  padding-bottom: 100px;
}
#resume .container .resume-heading {
  font-size: 48px;
  line-height: 50px;
  color: var(--color1);
  text-transform: capitalize;
  margin-bottom: 20px;
}

#resume .container h2 {
  font-size: 24px;
  line-height: 32px;
  color: var(--color1);
  text-transform: capitalize;
  margin-bottom: 10px;
}

#resume .container p {
  text-rendering: optimizeSpeed;
  line-height: 1.6;
  font-size: 18px;
  color: var(--color1);
  margin-bottom: 20px;
  font-weight: 300;
}

#resume .container a {
  text-rendering: optimizeSpeed;
  font-size: 18px;
  color: var(color2);
  display: inline-block;
  /* margin: 10px 0; */
  font-weight: 300;
}

#resume .container .ongoing-project {
  display: flex;
  gap: 20px;
  align-items: center;
  margin: 20px 0;
}

#resume .container .work-experience .box
{
    display: flex;
    flex-direction: row;
    margin: 20px 0;
    gap: 20px;
}

#resume .container .work-experience .box  p {

  line-height: 1.4;
  font-size: 16px;
  color: var(--color1);
  margin: 0px;
  font-weight: 300;
}

#resume .container .work-experience .box .year-company
{
    min-width: 200px;
}



#resume .container .work-experience .box .year-company h3
{
   
font-size: 16px;
    font-weight: 400;
}

#resume .container .work-experience  .box .text h4
{
    text-transform: capitalize;
    color: var(--color1);
    font-size: 16px;
    margin-bottom: 10px;
}

#resume .container .skills .skill-container{
display: flex;
gap: 20px;
margin: 20px 0;
}

#resume .container .skills .skill-container p{
  padding: 5px;
  border: 1px solid var(--color1);
  border-radius: 5px;
  font-size: 12px;
  font-weight: 400;
  margin: 0;
  }
@media (max-width: 768px) {
  #resume .container .ongoing-project {
    flex-direction: column;
  }
  #resume .container .ongoing-project img {
    width: 100%;
  }

  #resume .container .work-experience .box
{
    flex-direction: column;
}

#resume .container .skills .skill-container{
  display: flex;
 flex-wrap: wrap;
  }
}
#resume .container .ongoing-project img {
  border-radius: 8px;
}

#resume .container .ongoing-project .detail h3 {
  font-size: 20px;
  color: var(--color1);
  text-transform: capitalize;
}

#resume .container .ongoing-project .detail .description {
  margin: 10px 0;
}